*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;



}

.nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 17px 0;
    margin-right: 76px;
}



.logo {
    color: #2e2f42;
}

.menu {
    display: none;
    
}



.address {
    font-style: normal;
    margin-left: auto;
    display: none;
}




.open-menu-btn {
    padding: 0;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.page {
    background-color: #2e2f42;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    max-width: 1440px;
    margin: 0 auto;
}




.button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    display: flex;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 80px;
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

.content {
    padding: 96px 0;
}

.content-list {
    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 72px;
}

.icon-container {
    display: none;
    
}


.div-social {
    padding: 32px 16px;
    background-color: #f4f4fd;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
}

.ul-social {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.li-social {
    width: 40px;
    height: 40px;

}

.a-social {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.a-social:hover {
    background-color: #404bbf;
    ;
}

.a-social:focus {
    background-color: #404bbf;
}


.svg-social {

    fill: #f4f4fd;
}

.content-main {
    
}

.content-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.content-subtitle2 {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        text-align: center;

        
}
.content-info2 {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.content-info {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        margin-top: 5px;
}

.social-list-item {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-facebook {
    width: 40px;
    height: 40px;
}
.ul-social {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 8px;
}
.foto {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.foto-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.foto-list {
    display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 72px;
}
.foto-list-icon {
    display: flex;
    gap: 24px;
    justify-content: center;
}



.content-list-title {
    background-color: #FFFFFF;
   /* width: calc((100% - 72px) / 4);*/
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    
}
 

 .background {
     background-image: linear-gradient(rgba(46, 47, 66, 0.7),
             rgba(46, 47, 66, 0.7)), url('../images/app@2.jpg');
     background-image: linear-gradient(rgba(46, 47, 66, 0.7),
             rgba(46, 47, 66, 0.7)), url('..images/meditation@2.jpg');
     background-image: linear-gradient(rgba(46, 47, 66, 0.7),
             rgba(46, 47, 66, 0.7)), url('..images/online@2.jpg');
     background-image: linear-gradient(rgba(46, 47, 66, 0.7),
             rgba(46, 47, 66, 0.7)), url('..images/payment@2.jpg');
     background-image: linear-gradient(rgba(46, 47, 66, 0.7),
             rgba(46, 47, 66, 0.7)), url('..images/screen@2.jpg');
     background-image: linear-gradient(rgba(46, 47, 66, 0.7),
             rgba(46, 47, 66, 0.7)), url('..images/taxi@2.jpg');
     background-image: linear-gradient(rgba(46, 47, 66, 0.7),
             rgba(46, 47, 66, 0.7)), url('..images/teamcard1@2.jpg');
     background-image: linear-gradient(rgba(46, 47, 66, 0.7),
             rgba(46, 47, 66, 0.7)), url('..images/teamcard2@2x.jpg');
     background-image: linear-gradient(rgba(46, 47, 66, 0.7),
             rgba(46, 47, 66, 0.7)), url('..images/teamcard3@2x.jpg');
     background-image: linear-gradient(rgba(46, 47, 66, 0.7),
             rgba(46, 47, 66, 0.7)), url('..images/teamcard4@2x.jpg');
 }

 @media (-webkit-min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {
     .background {
         background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                 rgba(46, 47, 66, 0.7)), url('../images/app@2.jpg');
         background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                 rgba(46, 47, 66, 0.7)), url('..images/meditation@2.jpg');
         background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                 rgba(46, 47, 66, 0.7)), url('..images/online@2.jpg');
         background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                 rgba(46, 47, 66, 0.7)), url('..images/payment@2.jpg');
         background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                 rgba(46, 47, 66, 0.7)), url('..images/screen@2.jpg');
         background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                 rgba(46, 47, 66, 0.7)), url('..images/taxi@2.jpg');
         background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                 rgba(46, 47, 66, 0.7)), url('..images/teamcard1@2.jpg');
         background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                 rgba(46, 47, 66, 0.7)), url('..images/teamcard2@2x.jpg');
         background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                 rgba(46, 47, 66, 0.7)), url('..images/teamcard3@2x.jpg');
         background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                 rgba(46, 47, 66, 0.7)), url('..images/teamcard4@2x.jpg');
     }
 }

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-info {
    max-width: 320px;
    
    margin: 0 auto;
    padding: 0 16px;
}


.portfolio-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-list-item {
    /*width: calc((100% - 48px) / 3);*/
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-list-item:hover {
    opacity: 1;
}

.div-portfolio {
    position: relative;
    overflow: hidden;

}

.portfolio-img {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img:hover .portfolio-img p {
    transform: translateY(0%);
}

.p-portfolio {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .p-portfolio {
    transform: translateY(0%);

}

.portfolio-list-par {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.portfolio-cont {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
   
    height: 664px;
}



.auxiliary {
    width: 288px;
    height: 112px;
    text-align: center;
}
.Socialmedia {
    
    height: 80px;
    padding-top: 75px;
}

.footer-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo {
    color: #f4f4fd;
}

.footer-title {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px
}

.p-footer-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    margin-left: 90px;
}

.ul-footer-title {
    display: flex;
    gap: 16px;
}

.li-footer-title {
    width: 40px;
    height: 40px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.a-potfolio-img {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.a-potfolio-img:hover {
    background-color: #31d0aa;
}

.a-potfolio-img:focus {
    background-color: #31d0aa;
}

.svg-portfolio {
    fill: #f4f4fd;
}

.use-footer {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.div-form-footer {
    margin-left: auto;
    margin-right: 0;
    padding: 150px 0 ;
    width: 288px;
    height: 136px;
}

.p-form-footer {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    padding-left: 100px;
}



.input-form-footer {
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.input-form-footer::placeholder {
    color: #ffffff;
}

.button-form-footer {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
    margin-left: 60px;
}

.svg-form-footer {
    margin-left: 16px;
    fill: #FFFFFF;
}

.div-form-label {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.div-div-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-div-form {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button-div-form:hover,
.button-div-form:focus {
    background-color: #404bbf;
    border: none;

}

.svg-button-form {

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button-div-form:hover,
.button-div-form:focus {
    fill: #ffffff;
}

.p-text-modal {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--paragraph-color, #2E2F42);
    margin-bottom: 16px;
}

.div-label-modal {
    margin-bottom: 8px;

}

.label-for-div {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--paragraph-color, #8e8f99);
    display: block;
    margin-bottom: 4px;

}

.div-modal-input {
    position: relative;
}

.input-id-name {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.input-id-name:focus {
    border-color: #4D5AE5;
}

.input-svg-div {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.input-id-name:focus+.input-svg-div {
    fill: #4D5AE5;
}

.div-label-text {
    margin-bottom: 16px;
}

.textarea-div-label {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-div-label:focus {
    border-color: #4D5AE5;
}

.textarea-div-div {
    margin-bottom: 24px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}

.git-input-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.label-span-div {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;

    justify-content: center;
    fill: transparent;
}

.visually-hidden:checked+.git-input-label>.label-span-div {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;

}

.a-span-label {
    color: #4d5ae5;
}

.button-xyz {
    display: block;
    width: 169px;
    height: 56px;
    margin: auto;
    border-radius: 4px;
    padding: 16px 32px 16px 32px;
    gap: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
}

.page-title {
    font-size: 36px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 216px;
    display: block;
    margin-bottom: 72px;
    margin: 0 auto;

}

.footer-cotainer {
    display: flex;
    align-items: baseline;
    flex-direction: column;
}
 
     
         


 /* Планшетная версия */
 @media screen and (min-width: 768px) {
     body {
        font-family: "Roboto", sans-serif;
            color: #434455;
            background-color: #FFFFFF;
         background-image: image-set(url('path/to/tablet-background@1x.jpg') 1x,
                 url('path/to/tablet-background@2x.jpg') 2x);
     }
    .header {
            display: block;
            unicode-bidi: isolate;
            width: 768px;
            height: 72px;
    }
    .container {
        max-width: 768px;
        padding: 0 16px;
    }
    .foto-container {
    padding: O 108px 0;
    }
    .icon-container {
        display: none;
        
    }
     
    .open-menu-btn {
        display: none;
    }
    .logo-link {
        margin-right: 120px;
    }
    .page {
    background-color: #2e2f42;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    max-width: 1440px;
    margin: 0 auto;
    }
        .address-cont {
            display: flex;
            gap: 40px;
        }
        .menu  {
             display: flex;
             gap: 40px;
             margin-right: 121px;
         }
        .nav-link {
            color: #2e2f42;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.02em;
            padding: 24px 0;
            display: block;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    .nav-link:hover,
    .nav-link:focus {
    color: #404bbf;
    }
    
    .current {
    position: relative;
    color: #404BBF;
    }
    
    .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404BBF;
    border-radius: 2px;
    height: 4px;
    width: 100%;
    }
    .address {
    display: block;
    }
    .address-cont {
    display: flex;
    flex-direction:column ;
    gap: 12px;
    }
    .address-link {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .address-link:hover {
    color: #404bbf;
    }
    
    .address-link:focus {
    color: #404bbf;
    }
        .portfolio-list-item {
            width: calc((100% - 48px) / 2);
            /* Приклад для планшета */
        }
        .page-title {
            max-width: 496px;
            margin-bottom: 48px;
        }
        .content-list-title {
            background-color: #FFFFFF;
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
            border-radius: 0px 0px 4px 4px;
            width: calc((100% - 24px) / 2);
        }
        
        .content-list {
            display: flex;
            gap:72px 24px;
            flex-direction: row;
            flex-wrap: wrap;
        }
       
                .background {
                    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                            rgba(46, 47, 66, 0.7)), url('../images/app@2.jpg');
                    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                            rgba(46, 47, 66, 0.7)), url('..images/meditation@2.jpg');
                    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                            rgba(46, 47, 66, 0.7)), url('..images/online@2.jpg');
                    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                            rgba(46, 47, 66, 0.7)), url('..images/payment@2.jpg');
                    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                            rgba(46, 47, 66, 0.7)), url('..images/screen@2.jpg');
                    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                            rgba(46, 47, 66, 0.7)), url('..images/taxi@2.jpg');
                    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                            rgba(46, 47, 66, 0.7)), url('..images/teamcard1@2.jpg');
                    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                            rgba(46, 47, 66, 0.7)), url('..images/teamcard2@2x.jpg');
                    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                            rgba(46, 47, 66, 0.7)), url('..images/teamcard3@2x.jpg');
                    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                            rgba(46, 47, 66, 0.7)), url('..images/teamcard4@2x.jpg');
                }
        
                @media (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    .background {
                        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                rgba(46, 47, 66, 0.7)), url('../images/app@2.jpg');
                        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                rgba(46, 47, 66, 0.7)), url('..images/meditation@2.jpg');
                        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                rgba(46, 47, 66, 0.7)), url('..images/online@2.jpg');
                        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                rgba(46, 47, 66, 0.7)), url('..images/payment@2.jpg');
                        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                rgba(46, 47, 66, 0.7)), url('..images/screen@2.jpg');
                        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                rgba(46, 47, 66, 0.7)), url('..images/taxi@2.jpg');
                        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                rgba(46, 47, 66, 0.7)), url('..images/teamcard1@2.jpg');
                        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                rgba(46, 47, 66, 0.7)), url('..images/teamcard2@2x.jpg');
                        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                rgba(46, 47, 66, 0.7)), url('..images/teamcard3@2x.jpg');
                        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                rgba(46, 47, 66, 0.7)), url('..images/teamcard4@2x.jpg');
                    }
                }
        
        .foto-list {
        display: flex;
            gap: 72px 24px;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .portfolio-info {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
        
        }
        .portfolio-info {
            margin: 0 auto;
            padding: 0 16px;
        }
        .content-main {
            width: calc((100% - 24px) / 2);
    
        }
        .content-subtitle {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #2e2f42;
            font-weight: bold;
            text-align: center;
            margin-bottom: 8px;
        }
        .content-subtitle2 {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11111;
            letter-spacing: 0.02em;
            color: #2e2f42;
            margin-bottom: 8px;
            text-align: left;
    
    
        }
        .content-info {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
            text-align: center;
            margin-bottom: 8px;
        }
        .div-form-footer {
            margin-right: 0;
            margin-left: 0;
            padding: 0;
            /* width: 0; */
            height: 0;
            
        }
        .auxiliary {
            width: 288px;
            height: 112px;
        }
        .Socialmedia {
            
        }
        .form-footer {
        display: flex;
        gap: 24px;
        }
        .footer-title {
            line-height: 1.5;
            color: #F4F4FD;
            letter-spacing: 0.02em;
            max-width: 264px;
            text-align: left;
        }
        .button-form-footer {
            min-width: 165px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #ffffff;
            cursor: pointer;
            background-color: #4D5AE5;
            border: none;
            border-radius: 4px;
        }
        .footer-cotainer {
            display: flex;
            align-items: baseline;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 72px 24px;
            padding-left: 108px ;
        }
}

 /* Десктопная версия */
@media screen and (min-width: 1158px) {
    body {
        font-family: "Roboto", sans-serif;
        color: #434455;
        background-color: #FFFFFF;
        background-image: image-set(url('teamcard2@2x 1x') 1x,
        url('teamcard2@2x 1x') 2x);
    }
        .container-main{
        max-width: 1158px;
        } 
        .container{
        max-width: 1158px;
        padding: 0 15px;
        }
        .content-list-title {
        background-color: #FFFFFF;
        width: calc((100% - 72px) / 4);
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
        }
                 .background {
                     background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                            rgba(46, 47, 66, 0.7)), url('../images/app@2.jpg');
                    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                            rgba(46, 47, 66, 0.7)), url('..images/meditation@2.jpg');
                    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                rgba(46, 47, 66, 0.7)), url('..images/online@2.jpg');
                    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                rgba(46, 47, 66, 0.7)), url('..images/payment@2.jpg');
                    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                rgba(46, 47, 66, 0.7)), url('..images/screen@2.jpg');
                    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                rgba(46, 47, 66, 0.7)), url('..images/taxi@2.jpg');
                    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                rgba(46, 47, 66, 0.7)), url('..images/teamcard1@2.jpg');
                    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                rgba(46, 47, 66, 0.7)), url('..images/teamcard2@2x.jpg');
                    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                rgba(46, 47, 66, 0.7)), url('..images/teamcard3@2x.jpg');
                    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                rgba(46, 47, 66, 0.7)), url('..images/teamcard4@2x.jpg');
                 }
        
                 @media (-webkit-min-device-pixel-ratio: 2),
                 (min-resolution: 192dpi),
                 (min-resolution: 2dppx) {
                     .background {
                        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                    rgba(46, 47, 66, 0.7)), url('../images/app@2.jpg');
                            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                    rgba(46, 47, 66, 0.7)), url('..images/meditation@2.jpg');
                            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                    rgba(46, 47, 66, 0.7)), url('..images/online@2.jpg');
                            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                    rgba(46, 47, 66, 0.7)), url('..images/payment@2.jpg');
                            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                    rgba(46, 47, 66, 0.7)), url('..images/screen@2.jpg');
                            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                    rgba(46, 47, 66, 0.7)), url('..images/taxi@2.jpg');
                            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                    rgba(46, 47, 66, 0.7)), url('..images/teamcard1@2.jpg');
                            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                    rgba(46, 47, 66, 0.7)), url('..images/teamcard2@2x.jpg');
                            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                    rgba(46, 47, 66, 0.7)), url('..images/teamcard3@2x.jpg');
                            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                    rgba(46, 47, 66, 0.7)), url('..images/teamcard4@2x.jpg');
                     }
                 }
    
        
        .footer-cotainer {
        display: flex;
        align-items: baseline;
        }
        
        .nav-list {
        margin-right: 332px;
        }
        .logo-link {
        margin-right: 76px;
        }
        .address-cont {
        flex-direction: row;  
        gap: 40px;  
        }
        .address-link {
        font-size: 16px;
        line-height: 1.5;
        }
        .page-title {
        max-width: 496px;
        font-size: 56px;
            margin-bottom: 48px;
        }
    .content-subtitle2 {
        font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
            text-align: left;
        }
    
        .icon-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 112px;
            background-color: #f4f4fd;
            border-radius: 4px;
            border: 1px solid #8e8f99;
            margin-bottom: 8px;
        }
        .portfolio-list-item {
             width: calc((100% - 48px) / 3);
        }
        
        .content-main {
            width: calc((100% - 72px) / 4);
        }
        .content-info {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
            text-align: center;
            margin-bottom: 8px;
        }

        .content-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        font-weight: bold;
        text-align: center;
        margin-bottom: 8px;
        }
        .div-form-footer {
            margin-right: 0;
            margin-left: 0;
            padding: 0;
            width: 0;
            height: 0;
        }
        .button-form-footer {
            min-width: 165px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #ffffff;
            cursor: pointer;
            background-color: #4D5AE5;
            border: none;
            border-radius: 4px;
            margin-top: 0px;
            margin-left: 0px;
            
        }
        .auxiliary {
            width: 288px;
            height: 112px;
        }
        .Socialmedia {
        
        height: auto;
        padding-top: 75px;
        }
        .form-footer {
            display: flex;
            gap: 0;
        }
        
}
 